.button{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.button:hover{
    -fx-background-color: rgba(239, 239 ,245);
    -fx-border-insets: 0;
    -fx-border-radius: 0;
    cursor: pointer;
}

.button:armed{
    -fx-background-color: darkgrey;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}

.tool-bar {
    -fx-background-color: rgba(239, 239 ,245);
}

.img-view {
    -fx-height: 30px;
}

.table-view {
    -fx-table-cell-border-color: transparent;
}

.column-header-background {
    visibility: hidden;
    -fx-padding: -1em;
}

.text-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #D0D0D0;
}

.text-field:focused {
    -fx-background-color: #F6F6F6;
}

.language-title{
    -fx-font-size: 40;
    -fx-font-style: oblique;
}